:root {
	--main-color:#212121;
	--secondary-color:#757575;
	--third-color:#fff;
	--four-color:#2196F3;
	--five-color:#F5F4FA;
	--six-color:#2F303A;
	--seven-color:#ECECEC;;
}
body {
	font-size:14px;
	font-weight:400;
	font-style:normal;
	font-family:'Roboto', sans-serif;
}
ul,li {
	margin-top:0;
	margin-bottom:0;
	padding-left: 0;
	list-style:none;
}
.container {
	width:1200px;
	margin:0 auto;
	padding: 0 15px;
}
section {
	padding-top:94px;
	padding-bottom:94px;
}
a {
	text-decoration:none;	
}
p {
margin:0;	
}
h1,h2,h3,h4,h5,h6 {
margin:0;	
}
img {
	display:block;
	max-width:100%;
	height:auto;
}
/*--HEADER--START--*/

.menu {
	display:flex;
	flex-direction: row;
	border-bottom:1px solid var(--seven-color);
	margin:0 auto;
}
.logo-top   {
	color:var(--four-color);
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-align: left;
	padding-top: 27px;
	padding-bottom: 27px;
}
.logo-color-black {
	color:var(--main-color);
}
.navigation {
display:contents;	
}
.navigation-list  {
	display:inline-flex;
	flex-direction:row;
}
.navigation-item:first-child {
	margin-left:93px;
}
.navigation-item  {
	margin-left:50px;
	display:inline-block;
	padding-top:32px;
	padding-bottom:34px;
}
.navigation-link   {
font-weight: 500;
letter-spacing: 0.02em;
text-align: left;
color:var(--main-color);

}
.top-list  {
	display: inline-flex;
	flex-direction: row;
	margin-left:250px;
}
.right-item  {
	display:inline-block;
	margin-left:45px;
	padding-top:32px;
	padding-bottom:34px;	
}
.contact-link   {
font-weight: 500;
line-height: 1.4;
letter-spacing: 0.02em;
text-align: left;
color:var(--secondary-color);
padding-top:32px;
padding-bottom: 34px;
}
.navigation-link:hover {
	color:var(--four-color);
}
.navigation-link:focus {
	color:var(--four-color);
}
.contact-link:hover {
	color:var(--four-color);
}
.contact-link:focus {
	color:var(--four-color);
}
.current {
color:var(--four-color);	
} 
/*--HEADER--END--*/
/*--MAIN--HERO-START--*/
/*index.html*/

.hero  {
	background-color:var(--six-color);
	padding-top:200px;
	padding-bottom:200px;
	text-align:center;
}
.hero-title-h1 {
	font-size: 44px;
	font-weight: 900;
	line-height: 1.4;
	letter-spacing: 0.06em;
	text-align: center;
	color:var(--third-color);
	margin-top:0;
	margin-bottom:15px;
	text-transform:uppercase ;
	width:700px;
	margin:0 auto;
	
}
.hero-button {
	height:50px;
	width:200px;
	background: var(--four-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-size: 16px;
	font-weight: 700;
	line-height: 2;
	letter-spacing: 0.06em;
	text-align: center;
	color:var(--third-color);
	cursor:pointer;
	border:none;
	margin-top:30px;
	
}
.info-title-h2 {
	visibility:hidden;
	margin-top:0;
}
.info-list {
	display:flex;
}
.info-item:first-child {
margin-left:0;	
}
.info-item {
	width:270px;
	margin-left:30px;
}
.info-title-h3 {
	font-weight: 700;
	letter-spacing: 0.03em;
	text-align: left;
	color:var(--main-color);
	margin-top:0;
	margin-bottom:10px;
	text-transform: uppercase;

}
.info-paragraf {
	line-height: 1.7;
	letter-spacing: 0.03em;
	text-align: left;
	color:var(--secondary-color);
	margin-bottom:0;

	
}
.img {
padding-top:0;	

}
.img-list {
	display:flex;
	padding-top:50px;
}
.img-item:first-child {
	margin-left:0;
}
.img-item {
	margin-left:30px;
}
.img-title-h2 {
	margin:0 auto;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-align: center;
	color:var(--main-color);

}
.img-img {
width:370px;
height:294px;
}
.person {
	background:var(--five-color);

}
.person-title-h2 {
margin:0 auto;
font-size: 36px;
font-weight: 700;
letter-spacing: 0.03em;
text-align: center;
color:var(--main-color);

}
.person-title-h3 {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.03em;
	text-align: center;
	color:var(--main-color);
	margin-top:30px;
	margin-bottom:10px;

}
.person-paragraf {
font-size: 16px;
line-height:1.2;
letter-spacing: 0.03em;
text-align: center;
color:var(--secondary-color);
	margin-bottom:30px;

}
.person-list {
	display:flex;
	margin-top:50px;
	width:1200px;
}
.person-item{
			display:inline-block;
			margin-left:30px;
			background-color:var(--third-color);
	box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
}
.person-item:first-child {
margin-left:0;	
}
.person-img {
}
/*index.html-END-*/
/*portfolio.html*/
.content {
}
.filters-title {
	display:none;
}
.filters-list {
		margin:0 auto;
		display:flex;
		justify-content: center;
		flex-direction: row;

}
.filters-item {
	width:145px;
	height:38px;
	display:inline-block;
	align-items: center;
	margin-right:20px;
	justify-content: center;
}
.filters-link {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.03em;
	text-align: center;
	color:var(--main-color);
	height:38px;
	width:145px;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius: 4px;
	border:none;
	background-color:var(--five-color);
}

.filters-link:hover {
	background-color:var(--four-color);
	border-radius: 4px;
	color:var(--third-color);
	 box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
}
.top-filters-link:focus {
	background-color:var(--four-color);
	border-radius: 4px;
	color:var(--third-color);
	 box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
}
.content-list {
	    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-column-gap: 30px;
    padding-top: 50px;
}
.content-item {
    display: inline-block;
    border: 1px solid var(--seven-color);
    margin-bottom: 25px;
    width: 370px;
}
.content-title-h3 {
font-size: 18px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.06em;
text-align: left;
color:var(--main-color);
margin-left:24px;
margin-top:20px;
margin-bottom:20px;

}
.content-paragraf {
font-size: 16px;
text-align:left;
letter-spacing: 0.03em;
color:var(--secondary-color);
margin-left:24px;
margin-bottom:20px;

}
.content-img {
}
.content-item:hover {
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;	
}
.content-item:focus {
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;	
}
/*portfolio.html-END-*/
/*--MAIN--HERO-END--*/

/*--FOOTER--START--*/
.footer {
	background-color:var(--six-color);
	padding-top:60px;
	padding-bottom:60px;
}
.logo-bottom {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	letter-spacing: 0.03em;
	color:var(--four-color);
	line-height:1.2;
	margin-bottom:9px;
}
.logo-color-white {
	color:var(--third-color);
}
.footer ul {
	background-color:var(--six-color);
}


.adress {
line-height: 1.4;
letter-spacing: 0.03em;
text-align: left;
color:var(--third-color);
	margin-bottom:9px;

}
.email-phone {
line-height: 1.7;
letter-spacing: 0.03em;
text-align: left;
color:var(--secondary-color);
	margin-bottom:9px;
}
.email-phone:last-child {
margin-bottom:0;	
}
.email-phone:hover {
	color:var(--four-color);
}
.email-phone:focus {
	color:var(--four-color);
}
/*--FOOTER--END--*/
