::root {
	--main-color:#212121;
	--secondary-color:#757575;
	--third-color:#fff;
}
body {
	font-size:14px;
	font-weight:400;
	font-style:normal;
	font-family:'Roboto', sans-serif;
}
ul,ol {
	margin-top:0;
	margin-bottom:0;
	padding-left: 0;
}
.container {
	width:1200px;
	margin:0 auto;
}
section {
	padding-top:92px;
}
/*--HEADER--START--*/

.menu {
	height:80px;
	display:flex;
	flex-direction:row;
	border-bottom:1px solid #eee;
}
a.logo  {
	width:250px;
	color:#2196F3;
	float:left;
	font-family: Raleway, sans-serif;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-align: left;
	margin-top: 24px;
	text-decoration:none;
}
.logo-color-black {
	color:#212121;
}

.current a:action {
	color:#2196F3;
}

.menu ul.list {
	height:80px;
	width:300px;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	float:left;
}
.menu li.item {
	height:80px;
	display:flex;
	margin-left:30px;
	text-decoration:none;
	list-style:none;
}
a.top-center  {
font-family: Roboto, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
color:#212121;
text-decoration:none;
list-style: none;
margin-top:32px;
}
.menu ul.top {
	height:80px;
	float:right;
	display:flex;
	flex-direction:row;
}
.menu li.right {
	height:80px;
	display:flex;
	margin-left:30px;
	list-style:none;
	
}
a.contact  {
font-family: Roboto, sanserif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 0.7;
letter-spacing: 0.02em;
text-align: left;
text-decoration:none;
color:#757575;
margin-top:32px;

}
.menu a:hover {
	color:#2196F3;
}
.menu a:focus {
	color:#2196F3;
}
.menu a:enabled {
	color:#2196F3;
}

.top a.right :hover {
	color:#2196F3;
	stroke:#2196F3;

}
.top a.right :focus {
	color:#2196F3;
	stroke:#2196F3;

}
/*--HEADER--END--*/
/*--MAIN--HERO-START--*/
/*index.html*/

.hero  {
	height:500px;
	background-color:#2F303A;
	padding-top:0;
}
.hero  h1 {
	padding-top:200px;
	font-family: 'Roboto', sans-serif;
	font-size: 44px;
	font-style: normal;
	font-weight: 900;
	line-height: 0.73;
	letter-spacing: 0.06em;
	text-align: center;
	color:#fff;
	margin-top:0;
	margin-bottom:15px;
	text-transform:uppercase ;

	
}
.hero  button {
	height:50px;
	width:200px;
 	margin-left:532px;
	background: #2196F3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 0.53;
	letter-spacing: 0.06em;
	text-align: center;
	color:#fff;
	margin-bottom:200px;
	cursor:pointer;
	
}
.info h2 {
	visibility:hidden;
	margin-top:0;
}
.info ul {
	width:1200px;
	display:flex;
}
.info li {
	display:inline-block;
	width:270px;
	margin-left:27px;
}
.info h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-align: left;
	color:#212121;
	margin-top:0;
	margin-bottom:0;
	text-transform: uppercase;

}
.info p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.03em;
	text-align: left;
	color:#757575;
	margin-bottom:0;

	
}
.img ul {
	margin-top:92px;
	width:1200px;
	height:385px;
}
.img li {
		display:inline-block;
		margin-left:22px;
}
.img h2 {
	margin:0 auto;
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 42px;
	letter-spacing: 0.03em;
	text-align: center;
	color:#212121;

}
.img img {
	width:370px;
	height:294px;
	
}
.person {
	height:548px;
	background: #F5F4FA;

}
.person h2 {
margin:0 auto;
font-family: 'Roboto', sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
color:#212121;

}
.person h3 {
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 19px;
	letter-spacing: 0.03em;
	text-align: center;
	color:#212121;

}
.person p {
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
color:#757575;

}
.person ul {
	width:1200px;
	height:368px;
	padding-top:50px;
}
.person li {
			display:inline-block;
			margin-left:27px;
			background-color:#fff;
}
.person  img {
	width:270px;
	height:260px;
}
/*index.html-END-*/
/*portfolio.html*/
.top-filters {
	padding-top:100px;
	margin:0 auto;
}
ul.list {
		margin:0 auto;
		display:flex;
		justify-content: center;
		flex-direction: row;
		list-style:none;

}
.top-filters li.item {
	width:145px;
	height:38px;
	display:inline-block;
	align-items: center;
	background: #F5F4FA;
	margin-right:20px;
	justify-content: center;
	border-radius: 4px;
}
.top-filters a.item-link {
	text-decoration:none;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0.03em;
	text-align: center;
	color:#212121;
	height:38px;
	width:145px;
	display:flex;
	justify-content:center;
	align-items:center;


}

.top-filters li.item a:hover {
	background-color: #2196F3;
		border-radius: 4px;
		color:#fff;
}
.top-filters li.item a:focus {
	background-color: #2196F3;
	border-radius: 4px;
	color:#fff;
}
.top-filters li.item a:active {
	background-color: #2196F3;
	border-radius: 4px;
	color:#fff;
}
.content ul {
	list-style:none;
	text-decoration:none;
	display:inline-block;
}
.content li {
	list-style:none;
	text-decoration:none;
	display:inline-block;
	margin-left:22px;
	border:1px solid #eee;
	margin-bottom:25px;
}
.content p {
font-family: 'Roboto', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
color:#212121;
margin-left:15px;

}
.content h3 {
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
color:#757575;
margin-left:15px;

}
.content img {
	width: 370px;
	height: 294px;
}
/*portfolio.html-END-*/
/*--MAIN--HERO-END--*/

/*--FOOTER--START--*/
.footer {
	height:252px;
	background-color:#2F303A;
}
.footer a.logo {
	padding-top:36px;
}
.logo-color-white {
	color:#fff;
}
.footer a {
	text-decoration: none;
	}
.footer ul {
	padding-top:111px;
	background-color:#2F303A;
}
.footer li {
	list-style:none;
}

li.adress a {
font-family: Roboto, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
color:#fff;

}
li.email-phone a {
font-family: Roboto, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
color:#757575;
}
li.email-phone a:hover {
	color:#2196F3;
}
li.email-phone a:focus {
	color:#2196F3;
}
/*--FOOTER--END--*/
