:root {
	--main-color:#212121;
	--secondary-color:#757575;
	--third-color:#fff;
	--four-color:#2196F3;
	--five-color:#F5F4FA;
	--six-color:#2F303A;
	--seven-color:#eee;
}
body {
	font-size:14px;
	font-weight:400;
	font-style:normal;
	font-family:'Roboto', sans-serif;
}
ul,li {
	margin-top:0;
	margin-bottom:0;
	padding-left: 0;
	list-style:none;
}
.container {
	width:1200px;
	margin:0 auto;
}
section {
	padding-top:94px;
	padding-bottom:94px;
}
a {
	text-decoration:none;	
}
/*--HEADER--START--*/

.menu {
	display: flex;
	flex-direction: row;
	border-bottom:1px solid var(--seven-color);
	margin:0 auto;
}
.logo-top   {
	color:var(--four-color);
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-align: left;
	padding-top: 27px;
	padding-bottom: 27px;
}
.logo-color-black {
	color:var(--four-color);
}
.navigation-list  {
	display:flex;
	flex-direction:row;
}
.navigation-item  {
	margin-left:93px;
	display:inline-block;
	padding-top:32px;
	padding-bottom:34px;
}
.navigation-link   {
font-weight: 500;
letter-spacing: 0.02em;
text-align: left;
color:var(--main-color);

}
.top-list  {
	display: flex;
	flex-direction: row;
	margin-left:250px;
}
.right-item  {
	display:inline-block;
	margin-left:45px;
	padding-top:32px;
	padding-bottom:34px;	
}
.contact-link   {
font-weight: 500;
line-height: 1.4;
letter-spacing: 0.02em;
text-align: left;
color:var(--secondary-color);
padding-top:32px;
padding-bottom: 34px;
}
.menu a:hover {
	color:var(--four-color);
}
.menu a:focus {
	color:var(--four-color);
}
.current {
color:var(--four-color);	
} 
/*--HEADER--END--*/
/*--MAIN--HERO-START--*/
/*index.html*/

.hero  {
	height:586px;
	background-color:var(--six-color);
	padding-top:0;
}
.hero-title-h1 {
	padding-top:200px;
	font-size: 44px;
	font-weight: 900;
	line-height: 1.4;
	letter-spacing: 0.06em;
	text-align: center;
	color:var(--third-color);
	margin-top:0;
	margin-bottom:15px;
	text-transform:uppercase ;

	
}
.hero-button {
	height:50px;
	width:200px;
 	margin-left:532px;
	background: var(--four-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-size: 16px;
	font-weight: 700;
	line-height: 2;
	letter-spacing: 0.06em;
	text-align: center;
	color:var(--third-color);
	margin-bottom:200px;
	cursor:pointer;
	
}
.info-title-h2 {
	visibility:hidden;
	margin-top:0;
}
.info-list {
	width:1200px;
	display:flex;
}
.info-item {
	display:inline-block;
	width:270px;
	margin-left:27px;
}
.info-title-h3 {
	font-weight: 700;
	letter-spacing: 0.03em;
	text-align: left;
	color:var(--main-color);
	margin-top:0;
	margin-bottom:0;
	text-transform: uppercase;

}
.info-paragraf {
	line-height: 1.7;
	letter-spacing: 0.03em;
	text-align: left;
	color:var(--secondary-color);
	margin-bottom:0;

	
}
.img-list {
	margin-top:92px;
	width:1200px;
	height:385px;
}
.img-item {
		display:inline-block;
		margin-left:22px;
}
.img-title-h2 {
	margin:0 auto;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-align: center;
	color:var(--main-color);

}
.img-img {
	width:370px;
	height:294px;
	
}
.person {
	height:548px;
	background:var(--five-color);

}
.person-title-h2 {
margin:0 auto;
font-size: 36px;
font-weight: 700;
letter-spacing: 0.03em;
text-align: center;
color:var(--main-color);

}
.person-title-h3 {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.03em;
	text-align: center;
	color:var(--main-color);

}
.person-paragraf {
font-size: 16px;
line-height:1.2;
letter-spacing: 0.03em;
text-align: center;
color:var(--secondary-color);

}
.person-list {
	width:1200px;
	height:368px;
	padding-top:50px;
}
.person-item{
			display:inline-block;
			margin-left:27px;
			background-color:var(--third-color);
}
.person-img {
	width:270px;
	height:260px;
}
/*index.html-END-*/
/*portfolio.html*/
.filters {
	padding-top:100px;
	margin:0 auto;
}
.filters-list {
		margin:0 auto;
		display:flex;
		justify-content: center;
		flex-direction: row;
		list-style:none;

}
.filters-item {
	width:145px;
	height:38px;
	display:inline-block;
	align-items: center;
	background:var(--five-color);
	margin-right:20px;
	justify-content: center;
	border-radius: 4px;
}
.filters-link {
	text-decoration:none;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.03em;
	text-align: center;
	color:var(--main-color);
	height:38px;
	width:145px;
	display:flex;
	justify-content:center;
	align-items:center;


}

.filters li.item a:hover {
	background-color:var(--four-color);
		border-radius: 4px;
		color:var(--third-color);
}
.top-filters li.item a:focus {
	background-color:var(--four-color);
	border-radius: 4px;
	color:var(--third-color);
}
.top-filters li.item a:active {
	background-color:var(--four-color);
	border-radius: 4px;
	color:var(--third-color);
}
.content-list {
	list-style:none;
	text-decoration:none;
	display:inline-block;
}
.content-item {
	list-style:none;
	text-decoration:none;
	display:inline-block;
	margin-left:22px;
	border:1px solid var(--seven-color);
	margin-bottom:25px;
}
.content-paragraf {
font-size: 18px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.06em;
text-align: left;
color:var(--main-color);
margin-left:15px;

}
.content-title-h3 {
font-size: 16px;
	text-align:left;
letter-spacing: 0.03em;
color:var(--secondary-color);
margin-left:15px;

}
.content-img {
	width: 370px;
	height: 294px;
}
/*portfolio.html-END-*/
/*--MAIN--HERO-END--*/

/*--FOOTER--START--*/
.footer {
	height:252px;
	background-color:var(--six-color);
}
.logo-bottom {
	padding-top:60px;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	letter-spacing: 0.03em;
	color:var(--four-color);
	line-height:1.2;
}
.logo-color-white {
	color:var(--third-color);
}
.footer ul {
	padding-top:111px;
	background-color:var(--six-color);
}


.adress {
line-height: 1.4;
letter-spacing: 0.03em;
text-align: left;
color:var(--third-color);

}
.email-phone {
line-height: 1.7;
letter-spacing: 0.03em;
text-align: left;
color:var(--secondary-color);
}
.email-phone:hover {
	color:var(--four-color);
}
.email-phone:focus {
	color:var(--four-color);
}
/*--FOOTER--END--*/
